<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AdvanceJavaServletConfig</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
     <servlet-name>Servlet1</servlet-name>
     <servlet-class>Servlet1</servlet-class>
     
    <!--  <init-param>
        <param-name>d1</param-name>
        <param-value>Welcome to the web.xml file</param-value>
     </init-param> -->
  </servlet>
  <context-param>
  <param-name>d1</param-name>
  <param-value>Welcome to Servlet Context</param-value>
  </context-param>
  <servlet-mapping>
   <servlet-name>Servlet1</servlet-name>
   <url-pattern>/Servlet1</url-pattern>
  
  </servlet-mapping>
</web-app>